@import '../../../themes/mixin.scss';
@import '../../../themes/colors.scss';

.container-input {
	@include flex-config(unset, unset, row, wrap);
	border: none;
	color: $dark;
	max-width: 100%;
	width: 100%;
	
	&__list {
		@include flex-config(unset, unset, row, wrap);
		padding-top: 7px;
	}
	
	&__tag {
		@include size(100%, unset, unset, 14px);
		border: 1px grey solid;
		border-radius: 5px;
		margin-top: 14px;
		min-width: 50%;
		outline: none;
	}
}

.tag {
	@include flex-config(unset, center);
	@include size(unset, unset, 7px 10px 0px 0px, 0 5px 0 10px);			
	border-radius: 5px;
	background-color: $secundary;
	color: $white;
	font-size: 14px;
	white-space: nowrap;
	
	button {
		@include flex-config();
		@include size(unset, unset, unset, 6px);			
		border: none;
		background-color: unset;
		cursor: pointer;
		color: $white;
	}
}