@mixin flex-config(
	$justify: unset,
	$align: unset,
	$direction: row,
	$wrap: nowrap
) {
	display: flex;
	justify-content: $justify;
	align-items: $align;
	flex-direction: $direction;
	flex-wrap: $wrap;
}

@mixin size(
	$width: unset,
	$height: unset,
	$margin: unset,
	$padding: unset
) {
		width: $width;
		height: $height;
		margin: $margin;
		padding: $padding;
}