@import '../../styles/mixin.scss';
@import '../../styles/colors.scss';


.card {
	@include flex-config(center, center);
  align-self: center;
  width: 30em;
  height: 160px;
  margin-bottom: 14px;
    .container-image {
        width: 50%;
        height: 100%;
        padding: 10px 40px 10px 0px;
        .image{
          height: 100%;
          border-radius: 50%;
          object-fit: cover;
          margin-left: 40%;
          opacity: 0.8;
        }
    }
    .container-info {
        @include flex-config(space-evenly, flex-start, column);
        width: 50%;
        height: 90%;
        &__title {
          text-transform: capitalize;
          font-size: 1.2rem;
        }
        &__genres {
          @include flex-config(center);
          text-transform: capitalize;
          .tag {
              padding: 4px 10px;
          }
      }
      .delete-button {
      text-transform: capitalize;
			border: none;
			border-radius: 20px;
			color: $white;
			background-color: $color-secundary;
			overflow: hidden;
			width: 75px;
			padding: 8px;
			transition: .2s transform ease-in-out;
			will-change: transform;
			z-index: 0;
			
			&::after {
				background-color: $background-color-secundary;
				border-radius: 20px;
				content: '';
				display: block;
				height: 100%;
				width: 100%;
				position: absolute;
				left: 0;
				top: 0;
				transform: translate(-100%, 0) rotate(10deg);
				transform-origin: top left;
				transition: .3s transform ease-out;
				will-change: transform;
				z-index: -1;
			}
				&:hover::after{
					transform: translate(0, 0);
				}
				&:hover {
					color: $white;
					border: none;
					transform: scale(1.05);
					will-change: transform;
					}
				}
		  
    }
}