@import '../../../themes/mixin.scss';
@import '../../../themes/colors.scss';


.radio-button{
  @include flex-config(center, center);
  text-transform: capitalize;
}

input[type='radio']:after {
  @include size(15px, 15px);
  background-color: $white;
  border: 1px solid grey;
  border-radius: 15px;
  content: '';
  display: inline-block;
  left: -1px;
  position: relative;
  top: -2px;
  visibility: visible;
}

input[type='radio']:checked:after {
  @include size(15px, 15px);
  background-color: $secundary;
  border: 1px solid $white;
  border-radius: 15px;
  content: '';
  display: inline-block;
  left: -1px;
  position: relative;
  top: -2px;
  visibility: visible;
}

.radio-button__label {
  margin-left: 10px;
}
